body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-style: italic;
    text-transform: capitalize;
    border-bottom: 1px solid red;
}

h3 {
    font-weight: 600;
    font-size: larger;
    text-transform: capitalize;
    border-bottom: 1px solid red;
}

div {
    font-weight: 600;
    text-decoration-line: underline;
    font-size: large;
    border-bottom: 1px solid red;
}

th {
    text-transform: uppercase;
}

a:link {
    color: #00f;
    text-decoration-line: underline;
  }

a:visited {
    color: #005;
    text-decoration-line: underline;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: square;
}

img {
    border: 2px solid red;
    padding: 10px;
}

table, th, td {
    border: 1px solid;
}

.thHead {
    background-color: rgb(97, 153, 255);
}

.tdBody {
    background-color: rgb(155, 190, 255);
}